- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h3
      = link_to restaurant.name, restaurant_path(restaurant)
    %p
      - if restaurant.reviews.any?
        %ul
          - restaurant.reviews.each do |review|
            %li
              = review.thoughts
              = time_ago_in_words(review.created_at)
              %strong= review.rating
              \/5
              - if review.user == current_user
                %p
                  = link_to "Delete review", restaurant_review_path(restaurant,review), method: :delete
      - else
        %ul
          %li
            No reviews
    - if restaurant.user == current_user
      %p
        = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
        = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete

    - if current_user != nil && restaurant.user_review_on_restaurant(current_user) == nil
      %p
        = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
- else
  %h1 No restaurants yet!

%p
  - if user_signed_in?
    = link_to "Add a restaurant", new_restaurant_path
  - else
    %p Please sign in to add a restaurant
